/*
    #fff	White
    #488BF4	CR BLUE
    #DC563F	CR RED
    #F0F2F2	CR GRAY
    #292929	CR BLACK
    #F046F6 CR PURPLE
*/

$cr-blue: #488BF4;
$cr-red: #DC563F;
$cr-gray: #F0F2F2;
$cr-black: #292929;
$cr-purple: #F046F6;




html,
body {
    font-family: "Wendy One", sans-serif;
}

body {
    background: url(../images/Clash_Royale_Forum_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
}

.container {
    background-color: $cr-gray;
    min-height: 700px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hp-navbar-container {
    width: 100%;
    nav {
        padding-top: 10px;
        background-color: $cr-red;
        height: 75px;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #000;
        -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        a {
            padding: 5px;
            width: 250px;
            text-align: center;
            border-radius: 10px;
            width: 100px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 32px;
            transition: 0.2s ease all;
            background-color: aliceblue;
        }
        .active-nav {
            background-color: $cr-blue;
            color: #fff;
        }
        a:hover {
            -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
            text-decoration: none;
        }
        a:focus {
            text-decoration: none;
        }
    }
}

#home-container {
    text-align: center;
    .clan-tag {
        font-size: 20px;
        margin-top: 20px;
        padding: 5px;
        border: 5px solid #000;
    }
    img {
        width: 80%;
        border-radius: 10px;
    }
    h2, p {
        text-align: left;
        width: 80%;
        margin: 30px auto 0 auto;
    }
}