/*
    #fff	White
    #488BF4	CR BLUE
    #DC563F	CR RED
    #F0F2F2	CR GRAY
    #292929	CR BLACK
    #F046F6 CR PURPLE
*/
html,
body {
  font-family: "Wendy One", sans-serif; }

body {
  background: url(../images/Clash_Royale_Forum_Background.png);
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  font-size: 48px;
  text-align: center; }

h2 {
  font-size: 36px; }

.container {
  background-color: #F0F2F2;
  min-height: 700px;
  padding-bottom: 50px; }

a {
  text-decoration: none; }

p {
  font-size: 16px; }

#hp-navbar-container {
  width: 100%; }
  #hp-navbar-container nav {
    padding-top: 10px;
    background-color: #DC563F;
    height: 75px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #000;
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); }
    #hp-navbar-container nav a {
      padding: 5px;
      width: 250px;
      text-align: center;
      border-radius: 10px;
      width: 100px;
      margin-left: 50px;
      margin-right: 50px;
      font-size: 32px;
      transition: 0.2s ease all;
      background-color: aliceblue; }
    #hp-navbar-container nav .active-nav {
      background-color: #488BF4;
      color: #fff; }
    #hp-navbar-container nav a:hover {
      -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      text-decoration: none; }
    #hp-navbar-container nav a:focus {
      text-decoration: none; }

#home-container {
  text-align: center; }
  #home-container .clan-tag {
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    border: 5px solid #000; }
  #home-container img {
    width: 80%;
    border-radius: 10px; }
  #home-container h2, #home-container p {
    text-align: left;
    width: 80%;
    margin: 30px auto 0 auto; }

#videos-container {
  text-align: center; }
  #videos-container h2 {
    margin-bottom: 50px; }
  #videos-container .video-container span {
    width: 100%;
    text-align: center;
    font-size: 48px;
    margin-top: 10px; }

#deckbuilder-container #current-deck {
  width: 100%;
  text-align: center; }
  #deckbuilder-container #current-deck .card-container {
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    height: 300px;
    width: 190px;
    overflow: hidden; }
    #deckbuilder-container #current-deck .card-container .card-name {
      width: 100%;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      text-align: center;
      font-size: 24px;
      background-color: #488BF4;
      position: absolute;
      top: 0; }
    #deckbuilder-container #current-deck .card-container img {
      margin-top: 25px;
      margin-left: -10px; }
    #deckbuilder-container #current-deck .card-container .elixir-ball {
      display: inline-block;
      margin-left: 3px;
      height: 20px;
      width: 20px;
      border: 1px solid #000;
      border-radius: 100px;
      background-color: #F046F6; }
    #deckbuilder-container #current-deck .card-container .card-cost {
      width: 100%;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: center;
      font-size: 24px;
      background-color: #488BF4;
      position: absolute;
      bottom: 0; }
