/*
    #fff	White
    #488BF4	CR BLUE
    #DC563F	CR RED
    #F0F2F2	CR GRAY
    #292929	CR BLACK
*/
html,
body {
  font-family: "Wendy One", sans-serif; }

a {
  text-decoration: none; }

#hp-navbar-container {
  width: 100%; }
  #hp-navbar-container nav {
    padding-top: 10px;
    background-color: #DC563F;
    height: 75px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #000;
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); }
    #hp-navbar-container nav a {
      padding: 5px;
      width: 250px;
      text-align: center;
      border-radius: 10px;
      width: 100px;
      margin-left: 50px;
      margin-right: 50px;
      font-size: 32px;
      transition: 0.2s ease all;
      background-color: aliceblue; }
    #hp-navbar-container nav a:hover {
      -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      text-decoration: none; }
    #hp-navbar-container nav a:focus {
      text-decoration: none; }
